# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on one-to-many and many-to-many relationships!

## Objectives

You will be able to:
- Query data using one-to-many and many-to-many joins
- Predict the resulting size of one-to-many and many-to-many joins

## One-to-Many and Many-to-Many Joins
<img src='images/Database-Schema.png' width="600">

## Connect to the Database

In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite')
c = conn.cursor()

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [2]:
c.execute('''select firstName, lastName, city, state 
            from employees join offices using(officeCode) order by firstName, lastName; ''').fetchall()

[('Andy', 'Fixter', 'Sydney', ''),
 ('Anthony', 'Bow', 'San Francisco', 'CA'),
 ('Barry', 'Jones', 'London', ''),
 ('Diane', 'Murphy', 'San Francisco', 'CA'),
 ('Foon Yue', 'Tseng', 'NYC', 'NY'),
 ('George', 'Vanauf', 'NYC', 'NY'),
 ('Gerard', 'Bondur', 'Paris', ''),
 ('Gerard', 'Hernandez', 'Paris', ''),
 ('Jeff', 'Firrelli', 'San Francisco', 'CA'),
 ('Julie', 'Firrelli', 'Boston', 'MA'),
 ('Larry', 'Bott', 'London', ''),
 ('Leslie', 'Jennings', 'San Francisco', 'CA'),
 ('Leslie', 'Thompson', 'San Francisco', 'CA'),
 ('Loui', 'Bondur', 'Paris', ''),
 ('Mami', 'Nishi', 'Tokyo', 'Chiyoda-Ku'),
 ('Martin', 'Gerard', 'Paris', ''),
 ('Mary', 'Patterson', 'San Francisco', 'CA'),
 ('Pamela', 'Castillo', 'Paris', ''),
 ('Peter', 'Marsh', 'Sydney', ''),
 ('Steve', 'Patterson', 'Boston', 'MA'),
 ('Tom', 'King', 'Sydney', ''),
 ('William', 'Patterson', 'Sydney', ''),
 ('Yoshimi', 'Kato', 'Tokyo', 'Chiyoda-Ku')]

## Customers and their Orders (a One-to-Many join)

Return a list of all the customers first and last names along with a record for each of their order numbers, order dates and statuses.

In [3]:
c.execute('''select contactLastName, contactFirstName, orderNumber, orderDate, status from customers
            join orders using(customerNumber);''').fetchall()

[('Schmitt', 'Carine ', '10123', '2003-05-20', 'Shipped'),
 ('Schmitt', 'Carine ', '10298', '2004-09-27', 'Shipped'),
 ('Schmitt', 'Carine ', '10345', '2004-11-25', 'Shipped'),
 ('King', 'Jean', '10124', '2003-05-21', 'Shipped'),
 ('King', 'Jean', '10278', '2004-08-06', 'Shipped'),
 ('King', 'Jean', '10346', '2004-11-29', 'Shipped'),
 ('Ferguson', 'Peter', '10120', '2003-04-29', 'Shipped'),
 ('Ferguson', 'Peter', '10125', '2003-05-21', 'Shipped'),
 ('Ferguson', 'Peter', '10223', '2004-02-20', 'Shipped'),
 ('Ferguson', 'Peter', '10342', '2004-11-24', 'Shipped'),
 ('Ferguson', 'Peter', '10347', '2004-11-29', 'Shipped'),
 ('Labrune', 'Janine ', '10275', '2004-07-23', 'Shipped'),
 ('Labrune', 'Janine ', '10315', '2004-10-29', 'Shipped'),
 ('Labrune', 'Janine ', '10375', '2005-02-03', 'Shipped'),
 ('Labrune', 'Janine ', '10425', '2005-05-31', 'In Process'),
 ('Bergulfsen', 'Jonas ', '10103', '2003-01-29', 'Shipped'),
 ('Bergulfsen', 'Jonas ', '10158', '2003-10-10', 'Shipped'),
 ('Bergulfsen', 'Jonas ', '10309', '2004-10-15', 'Shipped'),
 ('Bergulfsen', 'Jonas ', '10325', '2004-11-05', 'Shipped'),
 ('Nelson', 'Susan', '10113', '2003-03-26', 'Shipped'),
 ('Nelson', 'Susan', '10135', '2003-07-02', 'Shipped'),
 ('Nelson', 'Susan', '10142', '2003-08-08', 'Shipped'),
 ('Nelson', 'Susan', '10182', '2003-11-12', 'Shipped'),
 ('Nelson', 'Susan', '10229', '2004-03-11', 'Shipped'),
 ('Nelson', 'Susan', '10271', '2004-07-20', 'Shipped'),
 ('Nelson', 'Susan', '10282', '2004-08-20', 'Shipped'),
 ('Nelson', 'Susan', '10312', '2004-10-21', 'Shipped'),
 ('Nelson', 'Susan', '10335', '2004-11-19', 'Shipped'),
 ('Nelson', 'Susan', '10357', '2004-12-10', 'Shipped'),
 ('Nelson', 'Susan', '10368', '2005-01-19', 'Shipped'),
 ('Nelson', 'Susan', '10371', '2005-01-23', 'Shipped'),
 ('Nelson', 'Susan', '10382', '2005-02-17', 'Shipped'),
 ('Nelson', 'Susan', '10385', '2005-02-28', 'Shipped'),
 ('Nelson', 'Susan', '10390', '2005-03-04', 'Shipped'),
 ('Nelson', 'Susan', '10396', '2005-03-23', 'Shipped'),
 ('Nelson', 'Susan', '10421', '2005-05-29', 'In Process'),
 ('Keitel', 'Roland', '10101', '2003-01-09', 'Shipped'),
 ('Keitel', 'Roland', '10230', '2004-03-15', 'Shipped'),
 ('Keitel', 'Roland', '10300', '2003-10-04', 'Shipped'),
 ('Keitel', 'Roland', '10323', '2004-11-05', 'Shipped'),
 ('Murphy', 'Julie', '10111', '2003-03-25', 'Shipped'),
 ('Murphy', 'Julie', '10201', '2003-12-01', 'Shipped'),
 ('Murphy', 'Julie', '10333', '2004-11-18', 'Shipped'),
 ('Lee', 'Kwai', '10107', '2003-02-24', 'Shipped'),
 ('Lee', 'Kwai', '10248', '2004-05-07', 'Cancelled'),
 ('Lee', 'Kwai', '10292', '2004-09-08', 'Shipped'),
 ('Lee', 'Kwai', '10329', '2004-11-15', 'Shipped'),
 ('Freyre', 'Diego ', '10104', '2003-01-31', 'Shipped'),
 ('Freyre', 'Diego ', '10128', '2003-06-06', 'Shipped'),
 ('Freyre', 'Diego ', '10133', '2003-06-27', 'Shipped'),
 ('Freyre', 'Diego ', '10153', '2003-09-28', 'Shipped'),
 ('Freyre', 'Diego ', '10156', '2003-10-08', 'Shipped'),
 ('Freyre', 'Diego ', '10190', '2003-11-19', 'Shipped'),
 ('Freyre', 'Diego ', '10203', '2003-12-02', 'Shipped'),
 ('Freyre', 'Diego ', '10205', '2003-12-03', 'Shipped'),
 ('Freyre', 'Diego ', '10212', '2004-01-16', 'Shipped'),
 ('Freyre', 'Diego ', '10244', '2004-04-29', 'Shipped'),
 ('Freyre', 'Diego ', '10246', '2004-05-05', 'Shipped'),
 ('Freyre', 'Diego ', '10262', '2004-06-24', 'Cancelled'),
 ('Freyre', 'Diego ', '10279', '2004-08-09', 'Shipped'),
 ('Freyre', 'Diego ', '10311', '2004-10-16', 'Shipped'),
 ('Freyre', 'Diego ', '10350', '2004-12-02', 'Shipped'),
 ('Freyre', 'Diego ', '10355', '2004-12-07', 'Shipped'),
 ('Freyre', 'Diego ', '10358', '2004-12-10', 'Shipped'),
 ('Freyre', 'Diego ', '10378', '2005-02-10', 'Shipped'),
 ('Freyre', 'Diego ', '10379', '2005-02-10', 'Shipped'),
 ('Freyre', 'Diego ', '10380', '2005-02-16', 'Shipped'),
 ('Freyre', 'Diego ', '10383', '2005-02-22', 'Shipped'),
 ('Freyre', 'Diego ', '10386', '2005-03-01', 'Resolved'),
 ('Freyre', 'Diego ', '10394', '2005-03-15', 'Shipped'),
 ('Freyre', 'Diego ', '10412', '2005-05-03', 'Shipped'),
 ('Freyre', 'Diego ', '10417', '2005-05-13', 'Disputed'),
 ('Freyre', 'Diego ', '10424', '2005-05-31', 'In Process'),
 ('Berglund', 'Christina ', '10112', '2003-03-24', 'Shipped'),
 ('Berglund', 'Christina ', '10320', '2004-11-03', 'Shipped'),
 ('Berglund', 'Christina ', '10326', '2004-11-09', 'Shipped'),
 ('Berglund', 'Christina ', '10334', '2004-11-19', 'On Hold'),
 ('Petersen', 'Jytte ', '10105', '2003-02-11', 'Shipped'),
 ('Petersen', 'Jytte ', '10238', '2004-04-09', 'Shipped'),
 ('Petersen', 'Jytte ', '10256', '2004-06-08', 'Shipped'),
 ('Petersen', 'Jytte ', '10327', '2004-11-10', 'Resolved'),
 ('Petersen', 'Jytte ', '10406', '2005-04-15', 'Disputed'),
 ('Saveley', 'Mary ', '10194', '2003-11-25', 'Shipped'),
 ('Saveley', 'Mary ', '10208', '2004-01-02', 'Shipped'),
 ('Saveley', 'Mary ', '10227', '2004-03-02', 'Shipped'),
 ('Natividad', 'Eric', '10117', '2003-04-16', 'Shipped'),
 ('Natividad', 'Eric', '10150', '2003-09-19', 'Shipped'),
 ('Natividad', 'Eric', '10165', '2003-10-22', 'Shipped'),
 ('Natividad', 'Eric', '10277', '2004-08-04', 'Shipped'),
 ('Natividad', 'Eric', '10387', '2005-03-02', 'Shipped'),
 ('Young', 'Jeff', '10127', '2003-06-03', 'Shipped'),
 ('Young', 'Jeff', '10204', '2003-12-02', 'Shipped'),
 ('Young', 'Jeff', '10267', '2004-07-07', 'Shipped'),
 ('Young', 'Jeff', '10349', '2004-12-01', 'Shipped'),
 ('Leong', 'Kelvin', '10272', '2004-07-20', 'Shipped'),
 ('Leong', 'Kelvin', '10281', '2004-08-19', 'Shipped'),
 ('Leong', 'Kelvin', '10318', '2004-11-02', 'Shipped'),
 ('Leong', 'Kelvin', '10422', '2005-05-30', 'In Process'),
 ('Hashimoto', 'Juri', '10140', '2003-07-24', 'Shipped'),
 ('Hashimoto', 'Juri', '10168', '2003-10-28', 'Shipped'),
 ('Hashimoto', 'Juri', '10317', '2004-11-02', 'Shipped'),
 ('Hashimoto', 'Juri', '10362', '2005-01-05', 'Shipped'),
 ('Victorino', 'Wendy', '10217', '2004-02-04', 'Shipped'),
 ('Victorino', 'Wendy', '10259', '2004-06-15', 'Shipped'),
 ('Victorino', 'Wendy', '10288', '2004-09-01', 'Shipped'),
 ('Victorino', 'Wendy', '10409', '2005-04-23', 'Shipped'),
 ('Oeztan', 'Veysel', '10181', '2003-11-12', 'Shipped'),
 ('Oeztan', 'Veysel', '10188', '2003-11-18', 'Shipped'),
 ('Oeztan', 'Veysel', '10289', '2004-09-03', 'Shipped'),
 ('Rancé', 'Martine ', '10180', '2003-11-11', 'Shipped'),
 ('Rancé', 'Martine ', '10224', '2004-02-21', 'Shipped'),
 ('Bertrand', 'Marie', '10114', '2003-04-01', 'Shipped'),
 ('Bertrand', 'Marie', '10286', '2004-08-28', 'Shipped'),
 ('Bertrand', 'Marie', '10336', '2004-11-20', 'Shipped'),
 ('Tseng', 'Jerry', '10228', '2004-03-10', 'Shipped'),
 ('Tseng', 'Jerry', '10249', '2004-05-08', 'Shipped'),
 ('King', 'Julie', '10172', '2003-11-05', 'Shipped'),
 ('King', 'Julie', '10263', '2004-06-28', 'Shipped'),
 ('King', 'Julie', '10413', '2005-05-05', 'Shipped'),
 ('Kentary', 'Mory', '10210', '2004-01-12', 'Shipped'),
 ('Kentary', 'Mory', '10240', '2004-04-13', 'Shipped'),
 ('Frick', 'Michael', '10102', '2003-01-10', 'Shipped'),
 ('Frick', 'Michael', '10237', '2004-04-05', 'Shipped'),
 ('Frick', 'Michael', '10324', '2004-11-05', 'Shipped'),
 ('Karttunen', 'Matti', '10155', '2003-10-06', 'Shipped'),
 ('Karttunen', 'Matti', '10299', '2004-09-30', 'Shipped'),
 ('Karttunen', 'Matti', '10377', '2005-02-09', 'Shipped'),
 ('Ashworth', 'Rachel', '10110', '2003-03-18', 'Shipped'),
 ('Ashworth', 'Rachel', '10306', '2004-10-14', 'Shipped'),
 ('Ashworth', 'Rachel', '10332', '2004-11-17', 'Shipped'),
 ('Cassidy', 'Dean', '10220', '2004-02-12', 'Shipped'),
 ('Cassidy', 'Dean', '10297', '2004-09-16', 'Shipped'),
 ('Taylor', 'Leslie', '10130', '2003-06-16', 'Shipped'),
 ('Taylor', 'Leslie', '10290', '2004-09-07', 'Shipped'),
 ('Taylor', 'Leslie', '10352', '2004-12-03', 'Shipped'),
 ('Devon', 'Elizabeth', '10253', '2004-06-01', 'Cancelled'),
 ('Devon', 'Elizabeth', '10302', '2003-10-06', 'Shipped'),
 ('Devon', 'Elizabeth', '10403', '2005-04-08', 'Shipped'),
 ('Tamuri', 'Yoshi ', '10206', '2003-12-05', 'Shipped'),
 ('Tamuri', 'Yoshi ', '10313', '2004-10-22', 'Shipped'),
 ('Barajas', 'Miguel', '10276', '2004-08-02', 'Shipped'),
 ('Barajas', 'Miguel', '10294', '2004-09-10', 'Shipped'),
 ('Young', 'Julie', '10145', '2003-08-25', 'Shipped'),
 ('Young', 'Julie', '10189', '2003-11-18', 'Shipped'),
 ('Young', 'Julie', '10367', '2005-01-12', 'Resolved'),
 ('Citeaux', 'Frédérique ', '10241', '2004-04-13', 'Shipped'),
 ('Citeaux', 'Frédérique ', '10255', '2004-06-04', 'Shipped'),
 ('Citeaux', 'Frédérique ', '10405', '2005-04-14', 'Shipped'),
 ('Gao', 'Mike', '10187', '2003-11-15', 'Shipped'),
 ('Gao', 'Mike', '10200', '2003-12-01', 'Shipped'),
 ('Saavedra', 'Eduardo ', '10118', '2003-04-21', 'Shipped'),
 ('Saavedra', 'Eduardo ', '10197', '2003-11-26', 'Shipped'),
 ('Saavedra', 'Eduardo ', '10340', '2004-11-24', 'Shipped'),
 ('Young', 'Mary', '10154', '2003-10-02', 'Shipped'),
 ('Young', 'Mary', '10376', '2005-02-08', 'Shipped'),
 ('Ibsen', 'Palle', '10161', '2003-10-17', 'Shipped'),
 ('Ibsen', 'Palle', '10314', '2004-10-22', 'Shipped'),
 ('Fresnière', 'Jean ', '10171', '2003-11-05', 'Shipped'),
 ('Fresnière', 'Jean ', '10261', '2004-06-17', 'Shipped'),
 ('Fresnière', 'Jean ', '10411', '2005-05-01', 'Shipped'),
 ('Thompson', 'Valarie', '10222', '2004-02-19', 'Shipped'),
 ('Thompson', 'Valarie', '10226', '2004-02-26', 'Shipped'),
 ('Bennett', 'Helen ', '10232', '2004-03-20', 'Shipped'),
 ('Bennett', 'Helen ', '10316', '2004-11-01', 'Shipped'),
 ('Roulet', 'Annette ', '10136', '2003-07-04', 'Shipped'),
 ('Roulet', 'Annette ', '10178', '2003-11-08', 'Shipped'),
 ('Roulet', 'Annette ', '10397', '2005-03-28', 'Shipped'),
 ('Accorti', 'Paolo ', '10280', '2004-08-17', 'Shipped'),
 ('Accorti', 'Paolo ', '10293', '2004-09-09', 'Shipped'),
 ('Da Silva', 'Daniel', '10134', '2003-07-01', 'Shipped'),
 ('Da Silva', 'Daniel', '10356', '2004-12-09', 'Shipped'),
 ('Da Silva', 'Daniel', '10395', '2005-03-17', 'Shipped'),
 ('Tonini', 'Daniel ', '10216', '2004-02-02', 'Shipped'),
 ('Tonini', 'Daniel ', '10304', '2004-10-11', 'Shipped'),
 ('Pfalzheim', 'Henriette ', '10191', '2003-11-20', 'Shipped'),
 ('Pfalzheim', 'Henriette ', '10310', '2004-10-16', 'Shipped'),
 ('Lincoln', 'Elizabeth ', '10235', '2004-04-02', 'Shipped'),
 ('Lincoln', 'Elizabeth ', '10283', '2004-08-20', 'Shipped'),
 ("O'Hara", 'Anna', '10148', '2003-09-11', 'Shipped'),
 ("O'Hara", 'Anna', '10169', '2003-11-04', 'Shipped'),
 ("O'Hara", 'Anna', '10370', '2005-01-20', 'Shipped'),
 ("O'Hara", 'Anna', '10391', '2005-03-09', 'Shipped'),
 ('Rovelli', 'Giovanni ', '10106', '2003-02-17', 'Shipped'),
 ('Rovelli', 'Giovanni ', '10173', '2003-11-05', 'Shipped'),
 ('Rovelli', 'Giovanni ', '10328', '2004-11-12', 'Shipped'),
 ('Huxley', 'Adrian', '10139', '2003-07-16', 'Shipped'),
 ('Huxley', 'Adrian', '10270', '2004-07-19', 'Shipped'),
 ('Huxley', 'Adrian', '10361', '2004-12-17', 'Shipped'),
 ('Huxley', 'Adrian', '10420', '2005-05-29', 'In Process'),
 ('Hernandez', 'Marta', '10285', '2004-08-27', 'Shipped'),
 ('Hernandez', 'Marta', '10305', '2004-10-13', 'Shipped'),
 ('Holz', 'Mihael', '10225', '2004-02-22', 'Shipped'),
 ('Holz', 'Mihael', '10287', '2004-08-30', 'Shipped'),
 ('Klaeboe', 'Jan', '10284', '2004-08-21', 'Shipped'),
 ('Klaeboe', 'Jan', '10301', '2003-10-05', 'Shipped'),
 ('Koskitalo', 'Pirkko', '10151', '2003-09-21', 'Shipped'),
 ('Koskitalo', 'Pirkko', '10239', '2004-04-12', 'Shipped'),
 ('Koskitalo', 'Pirkko', '10373', '2005-01-31', 'Shipped'),
 ('Dewey', 'Catherine ', '10221', '2004-02-18', 'Shipped'),
 ('Dewey', 'Catherine ', '10273', '2004-07-21', 'Shipped'),
 ('Dewey', 'Catherine ', '10423', '2005-05-30', 'In Process'),
 ('Frick', 'Steve', '10195', '2003-11-25', 'Shipped'),
 ('Frick', 'Steve', '10308', '2004-10-15', 'Shipped'),
 ('Huang', 'Wing', '10143', '2003-08-10', 'Shipped'),
 ('Huang', 'Wing', '10185', '2003-11-14', 'Shipped'),
 ('Huang', 'Wing', '10365', '2005-01-07', 'Shipped'),
 ('Brown', 'Julie', '10159', '2003-10-10', 'Shipped'),
 ('Brown', 'Julie', '10162', '2003-10-18', 'Shipped'),
 ('Brown', 'Julie', '10381', '2005-02-17', 'Shipped'),
 ('Brown', 'Julie', '10384', '2005-02-23', 'Shipped'),
 ('Graham', 'Mike', '10132', '2003-06-25', 'Shipped'),
 ('Graham', 'Mike', '10254', '2004-06-03', 'Shipped'),
 ('Graham', 'Mike', '10354', '2004-12-04', 'Shipped'),
 ('Graham', 'Mike', '10393', '2005-03-11', 'Shipped'),
 ('Graham', 'Mike', '10404', '2005-04-08', 'Shipped'),
 ('Brown', 'Ann ', '10129', '2003-06-12', 'Shipped'),
 ('Brown', 'Ann ', '10175', '2003-11-06', 'Shipped'),
 ('Brown', 'Ann ', '10351', '2004-12-03', 'Shipped'),
 ('Brown', 'William', '10233', '2004-03-29', 'Shipped'),
 ('Brown', 'William', '10251', '2004-05-18', 'Shipped'),
 ('Brown', 'William', '10401', '2005-04-03', 'On Hold'),
 ('Calaghan', 'Ben', '10152', '2003-09-25', 'Shipped'),
 ('Calaghan', 'Ben', '10174', '2003-11-06', 'Shipped'),
 ('Calaghan', 'Ben', '10374', '2005-02-02', 'Shipped'),
 ('Suominen', 'Kalle', '10141', '2003-08-01', 'Shipped'),
 ('Suominen', 'Kalle', '10247', '2004-05-05', 'Shipped'),
 ('Suominen', 'Kalle', '10363', '2005-01-06', 'Shipped'),
 ('Cervantes', 'Francisca', '10183', '2003-11-13', 'Shipped'),
 ('Cervantes', 'Francisca', '10307', '2004-10-14', 'Shipped'),
 ('Fernandez', 'Jesus', '10177', '2003-11-07', 'Shipped'),
 ('Fernandez', 'Jesus', '10231', '2004-03-19', 'Shipped'),
 ('Chandler', 'Brian', '10160', '2003-10-11', 'Shipped'),
 ('Chandler', 'Brian', '10209', '2004-01-09', 'Shipped'),
 ('Lebihan', 'Laurence ', '10122', '2003-05-08', 'Shipped'),
 ('Lebihan', 'Laurence ', '10344', '2004-11-25', 'Shipped'),
 ('Lebihan', 'Laurence ', '10364', '2005-01-06', 'Shipped'),
 ('Henriot', 'Paul ', '10121', '2003-05-07', 'Shipped'),
 ('Henriot', 'Paul ', '10137', '2003-07-10', 'Shipped'),
 ('Henriot', 'Paul ', '10343', '2004-11-24', 'Shipped'),
 ('Henriot', 'Paul ', '10359', '2004-12-15', 'Shipped'),
 ('Henriot', 'Paul ', '10398', '2005-03-30', 'Shipped'),
 ('MacKinlay', 'Wales', '10202', '2003-12-02', 'Shipped'),
 ('MacKinlay', 'Wales', '10260', '2004-06-16', 'Cancelled'),
 ('MacKinlay', 'Wales', '10410', '2005-04-29', 'Shipped'),
 ('Yoshido', 'Juri', '10264', '2004-06-30', 'Shipped'),
 ('Yoshido', 'Juri', '10295', '2004-09-10', 'Shipped'),
 ('Yoshido', 'Juri', '10414', '2005-05-06', 'On Hold'),
 ('Young', 'Dorothy', '10100', '2003-01-06', 'Shipped'),
 ('Young', 'Dorothy', '10192', '2003-11-20', 'Shipped'),
 ('Young', 'Dorothy', '10322', '2004-11-04', 'Shipped'),
 ('Nelson', 'Allen', '10147', '2003-09-05', 'Shipped'),
 ('Nelson', 'Allen', '10274', '2004-07-21', 'Shipped'),
 ('Nelson', 'Allen', '10369', '2005-01-20', 'Shipped'),
 ('Cartrain', 'Pascale ', '10116', '2003-04-11', 'Shipped'),
 ('Cartrain', 'Pascale ', '10144', '2003-08-13', 'Shipped'),
 ('Cartrain', 'Pascale ', '10338', '2004-11-22', 'Shipped'),
 ('Cartrain', 'Pascale ', '10366', '2005-01-10', 'Shipped'),
 ('Pipps', 'Georg ', '10119', '2003-04-28', 'Shipped'),
 ('Pipps', 'Georg ', '10269', '2004-07-16', 'Shipped'),
 ('Pipps', 'Georg ', '10341', '2004-11-24', 'Shipped'),
 ('Pipps', 'Georg ', '10419', '2005-05-17', 'Shipped'),
 ('Cruz', 'Arnold', '10108', '2003-03-03', 'Shipped'),
 ('Cruz', 'Arnold', '10198', '2003-11-27', 'Shipped'),
 ('Cruz', 'Arnold', '10330', '2004-11-16', 'Shipped'),
 ('Moroni', 'Maurizio ', '10176', '2003-11-06', 'Shipped'),
 ('Moroni', 'Maurizio ', '10266', '2004-07-06', 'Shipped'),
 ('Moroni', 'Maurizio ', '10416', '2005-05-10', 'Shipped'),
 ('Shimamura', 'Akiko', '10258', '2004-06-15', 'Shipped'),
 ('Shimamura', 'Akiko', '10339', '2004-11-23', 'Shipped'),
 ('Shimamura', 'Akiko', '10372', '2005-01-26', 'Shipped'),
 ('Shimamura', 'Akiko', '10408', '2005-04-22', 'Shipped'),
 ('Perrier', 'Dominique', '10211', '2004-01-15', 'Shipped'),
 ('Perrier', 'Dominique', '10252', '2004-05-26', 'Shipped'),
 ('Perrier', 'Dominique', '10402', '2005-04-07', 'Shipped'),
 ('McRoy', 'Sarah', '10234', '2004-03-30', 'Shipped'),
 ('McRoy', 'Sarah', '10268', '2004-07-12', 'Shipped'),
 ('McRoy', 'Sarah', '10418', '2005-05-16', 'Shipped'),
 ('Donnermeyer', 'Michael', '10296', '2004-09-15', 'Shipped'),
 ('Hernandez', 'Maria', '10115', '2003-04-04', 'Shipped'),
 ('Hernandez', 'Maria', '10163', '2003-10-20', 'Shipped'),
 ('Hernandez', 'Maria', '10337', '2004-11-21', 'Shipped'),
 ('Lewis', 'Dan', '10131', '2003-06-16', 'Shipped'),
 ('Lewis', 'Dan', '10146', '2003-09-03', 'Shipped'),
 ('Lewis', 'Dan', '10353', '2004-12-04', 'Shipped'),
 ('Larsson', 'Martha', '10167', '2003-10-23', 'Cancelled'),
 ('Larsson', 'Martha', '10291', '2004-09-08', 'Shipped'),
 ('Larsson', 'Martha', '10389', '2005-03-03', 'Shipped'),
 ('Frick', 'Sue', '10250', '2004-05-11', 'Shipped'),
 ('Frick', 'Sue', '10257', '2004-06-14', 'Shipped'),
 ('Frick', 'Sue', '10400', '2005-04-01', 'Shipped'),
 ('Frick', 'Sue', '10407', '2005-04-22', 'On Hold'),
 ('Mendel', 'Roland ', '10164', '2003-10-21', 'Resolved'),
 ('Mendel', 'Roland ', '10170', '2003-11-04', 'Shipped'),
 ('Mendel', 'Roland ', '10392', '2005-03-10', 'Shipped'),
 ('Murphy', 'Leslie', '10196', '2003-11-26', 'Shipped'),
 ('Murphy', 'Leslie', '10245', '2004-05-04', 'Shipped'),
 ('Choi', 'Yu', '10242', '2004-04-20', 'Shipped'),
 ('Choi', 'Yu', '10319', '2004-11-03', 'Shipped'),
 ('Sommer', 'Martín ', '10126', '2003-05-28', 'Shipped'),
 ('Sommer', 'Martín ', '10214', '2004-01-26', 'Shipped'),
 ('Sommer', 'Martín ', '10348', '2004-11-01', 'Shipped'),
 ('Benitez', 'Violeta', '10166', '2003-10-21', 'Shipped'),
 ('Benitez', 'Violeta', '10321', '2004-11-04', 'Shipped'),
 ('Benitez', 'Violeta', '10388', '2005-03-03', 'Shipped'),
 ('Clenahan', 'Sean', '10193', '2003-11-21', 'Shipped'),
 ('Clenahan', 'Sean', '10265', '2004-07-02', 'Shipped'),
 ('Clenahan', 'Sean', '10415', '2005-05-09', 'Disputed'),
 ('Ricotti', 'Franco', '10157', '2003-10-09', 'Shipped'),
 ('Ricotti', 'Franco', '10218', '2004-02-09', 'Shipped'),
 ('Thompson', 'Steve', '10199', '2003-12-01', 'Shipped'),
 ('Thompson', 'Steve', '10215', '2004-01-29', 'Shipped'),
 ('Roel', 'José Pedro ', '10184', '2003-11-14', 'Shipped'),
 ('Roel', 'José Pedro ', '10303', '2004-10-06', 'Shipped'),
 ('Salazar', 'Rosa', '10109', '2003-03-10', 'Shipped'),
 ('Salazar', 'Rosa', '10236', '2004-04-03', 'Shipped'),
 ('Salazar', 'Rosa', '10331', '2004-11-17', 'Shipped'),
 ('Taylor', 'Sue', '10149', '2003-09-12', 'Shipped'),
 ('Taylor', 'Sue', '10219', '2004-02-10', 'Shipped'),
 ('Smith', 'Thomas ', '10186', '2003-11-14', 'Shipped'),
 ('Smith', 'Thomas ', '10213', '2004-01-22', 'Shipped'),
 ('Franco', 'Valarie', '10207', '2003-12-09', 'Shipped'),
 ('Franco', 'Valarie', '10243', '2004-04-26', 'Shipped'),
 ('Snowden', 'Tony', '10138', '2003-07-07', 'Shipped'),
 ('Snowden', 'Tony', '10179', '2003-11-11', 'Cancelled'),
 ('Snowden', 'Tony', '10360', '2004-12-16', 'Shipped'),
 ('Snowden', 'Tony', '10399', '2005-04-01', 'Shipped')]

## Customers and their Payments (another One-to-Many join)

Return a list of customers first and last names along with details about their payments including the amount and date of payments. Sort these results in descending order by the payment amount.

In [3]:
# Your code here

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of customer first and last names, product names, quantities, and date ordered for each of the customers and each of their orders. Sort these in descending order by the order date.

Note: This will require joining 4 tables! This can be tricky! Give it a shot, and if you're still stuck, turn to the next section where you'll see how to write subqueries which can make complex queries such as this much simpler!

In [4]:
# Your code here

## Summary

In this lab, you practiced your knowledge on one-to-many and many-to-many relationships!